.gradient-custom {

    position: relative;
    background-image: url("../../images/header.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    cursor: default;
}
